:root {
    --primary-red: #e63946;
    --dark-red: #e10101;
    --light-red: #ff686b;
    --dark-bg: #212529;
    --dark-text: #212529;
    --light-bg: #f8f9fa;
}

.btn-reset {
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .navbar-brand {
    margin-right: 2rem !important;
}

input.form-control:focus,
textarea.form-control:focus {
    border-color: var(--primary-red);
    box-shadow: 0 0 0 .25rem #ff686b50;
}

.bg-primary-red {
    background-color: var(--primary-red) !important;
}

.text-primary-red {
    color: var(--primary-red) !important;
}

.text-dark-red {
    color: var(--dark-red) !important;
}

body::selection {
    background-color: var(--primary-red);
    color: white;
}

.btn.btn-primary-red,
.btn.btn-primary-red:active,
.btn.btn-primary-red:focus {
    font-weight: 500 !important;
    background-color: var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    color: white !important;
}

.btn.btn-primary-red:hover {
    background-color: var(--primary-red) !important;
    border-color: var(--primary-red) !important;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--dark-red);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gofood-Price-amount {
    color: var(--dark-red) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

#top-bar {
    font-size: 14px;
    font-weight: 300;
}

.navbar-brand img {
    max-height: 60px;
    max-width: 200px;
    object-fit: contain;
}

#navbarMain .navbar-nav .nav-link,
#navbarMain .navbar-nav .dropdown-item {
    color: var(--dark-bg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

#navbarMain .navbar-nav .dropdown-item {
    text-transform: capitalize;
}

#navbarMain .navbar-nav .nav-link.active {
    color: var(--primary-red);
    font-weight: 500;
}

#navbarMain .navbar-nav .dropdown-item.active,
#navbarMain .navbar-nav .dropdown-item:active {
    background-color: var(--primary-red);
    font-weight: 500;
    color: white;
}


#hero-banner {
    background-color: #fffafa;
}

#hero-banner img#hero-banner-img {
    width: 85%;
    max-width: 480px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.bg-primary-red {
    background-color: var(--primary-red) !important;
}

.text-primary-red {
    color: var(--primary-red) !important;
}

.text-dark-red {
    color: var(--dark-red) !important;
}

body::selection {
    background-color: var(--primary-red);
    color: white;
}

.btn.btn-primary-red,
.btn.btn-primary-red:active,
.btn.btn-primary-red:focus {
    font-weight: 500 !important;
    background-color: var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    color: white !important;
}

.btn.btn-primary-red:hover {
    background-color: var(--primary-red) !important;
    border-color: var(--primary-red) !important;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--dark-red);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-bar {
    font-size: 14px;
    font-weight: 300;
}

.navbar-brand img {
    max-height: 60px;
    max-width: 200px;
    object-fit: contain;
}

#navbarMain .navbar-nav .nav-link,
#navbarMain .navbar-nav .dropdown-item {
    color: var(--dark-bg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

#navbarMain .navbar-nav .dropdown-item {
    text-transform: capitalize;
}

#navbarMain .navbar-nav .nav-link.active {
    color: var(--primary-red);
    font-weight: 500;
}

#navbarMain .navbar-nav .dropdown-item.active,
#navbarMain .navbar-nav .dropdown-item:active {
    background-color: var(--primary-red);
    font-weight: 500;
    color: white;
}


#hero-banner {
    background-color: #fffafa;
}

#hero-banner img#hero-banner-img {
    width: 85%;
    max-width: 480px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.section-spacer {
    height: 80px;
}

.section-spacer-small {
    height: 40px;
}

#food-categories {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-columns: minmax(120px, 1fr);
    grid-auto-flow: column;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
}

#food-categories::-webkit-scrollbar {
    height: 8px;
}

#food-categories::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#food-categories::-webkit-scrollbar-thumb {
    background: var(--primary-red);
    border-radius: 10px;
}

#food-categories .category-item {
    text-align: center;
    color: var(--dark-text);
    text-decoration: none;
    font-weight: 500;
}

#food-categories .category-item img {
    width: 90%;
    max-width: 75px;
}

#food-categories .category-item span {
    display: block;
    margin-top: 10px;
}

#food-categories .category-item:hover img,
#food-categories .category-item:hover svg {
    transform: rotate(-10deg);
    transition: all 0.2s ease-in-out;
}

.product-item {
    overflow: hidden;
    border-radius: 10px;
    display: block;
    color: var(--dark-text);
    margin-bottom: 25px;
}

.product-item a {
    text-decoration: none;
    color: var(--dark-text);
}

.product-item .product-item-img {
    position: relative;
    overflow: hidden;
    display: block;
}

.product-item .product-item-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.product-item:hover .product-item-img img {
    transform: scale(1.05);
}

.product-item .product-item-description {
    padding: 8px 16px;
    border: 1px solid #e9e7e7;
    border-radius: 10px;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.product-item .product-item-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
}

.product-item .product-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.product-item .product-item-discount {
    position: absolute;
    background: var(--dark-red);
    color: #fff;
    left: 8px;
    top: 8px;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 6px;
    z-index: 99;
}


#cartDrawer {
    position: fixed;
    transform: translate(100%, 0);
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 380px;
    background: #fff;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: 16px 14px;
}

#cartDrawer.active {
    transform: translate(0, 0);
}

#cartDrawer .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

#cartDrawer .wrapper .loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartDrawerOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#cartDrawer .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

#cartDrawer .cart-content {
    height: 100%;
}

#cartDrawer .cart-items {
    height: 100%;
    width: 100%;
    border: 1px solid #e9e7e7;
    padding: 5px;
    border-radius: 4px;
    overflow-y: auto;
}

#cartDrawer .cart-actions {
    height: max-content;
}

#cartDrawer .cart-items .cart-item {
    display: flex;
    gap: 8px;
    padding: 5px;
    width: 100%;
    position: relative;
}

#cartDrawer .cart-items .cart-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#cartDrawer .cart-items .cart-item h5 {
    font-size: 16px;
    margin-bottom: 4px;
}

#cartDrawer .cart-items .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #e9e7e7;
    padding: 4px;
}

#cartDrawer .cart-items .cart-item:not(:last-child) {
    border-bottom: 1px solid #e9e7e7;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#cartDrawer .cart-items .remove-cart-item {
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: 14px;
    opacity: 0.65;
}

#cartDrawer .cart-items .remove-cart-item:hover {
    opacity: 1;
    color: var(--dark-red);
}

@media (max-width: 768px) {
    #food-categories {
        gap: 16px 8px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-columns: minmax(100px, 1fr);
    }

    .product-item .product-item-img img {
        height: 150px;
    }

    .product-item .product-item-title {
        font-size: 16px;
    }
}